# Claves y archivos sensibles
.env
backend/.env
backend/keys/firebase-credentials.json

# Bases de datos locales
*.db
*.sqlite3

# Entornos virtuales de Python
.venv/
venv/
env/
backend/env/

# Caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración del editor
.vscode/

# Archivos binarios, logs y temporales
*.dll
*.exe
*.log
*.zip
*.tar.gz
*.rar

# Archivos del sistema (macOS / Windows)
.DS_Store
Thumbs.db